body {
  background-color: #FFFFFF;
}
.resume {
  width: 850px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F5F5;
  font-style: normal;
  text-align: left;
  line-height: normal;
  background-image: url('http://img32.photophoto.cn/20140730/0008020993174660_s.jpg');
  border-style: solid;
  border-width: 3px;
  border-color: #C0C0C0;
}
hr {
  width: 68%;
}
h2 {
  font-size: 25px;
  text-align: center;
  color: #696969;
  font-family: 幼圆;
  text-shadow: 3px 3px 5px grey;
}
h3 {
  font-weight: bold;
}
.Introduction {
  height: 200px;
  width: 80%;
  margin: 0 auto;
  color: 	#696969;
}
a {
  text-decoration: blink;
}
a:link {
  color: grey;
  text-decoration: underline;
}
a:visited {
  color: purple;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:active {
  color: red;
}
.Intro_left {
  margin-top: 30px;
  margin-left: 50px;
  float: left;
}
.Intro_right {
  margin-top: 30px;
  margin-right: 50px;
  float: right;
}
img {
  width: 120px;
  height:150px;
}
.Edu {
  color: 	#696969;
  width: 580px;
  height: 100px;
  margin-top: -5px;
  margin-left: 135px;
  float: left;
}
.Project,.Skill,.Prize,.Assessment {
  width: 580px;
  height: 145px;
  color: 	#696969;
  margin-top: -5px;
  margin-left: 135px;
  float: left;
}
.Assessment p {
  text-indent: 40px;
}
ul li {
  list-style-type: none;
  list-style-position: outside;
}